body
{
	background-color: #003366; /* Blue, Duck Outline in Dark Blue */
	margin: 0px;
	color: #fff;
	font-family: Tahoma, sans-serif;
	font-size: small;
	text-align: justify;
}

a
{
	color: #fff;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

#box a
{
	color: #800000;
}

#box-menu a
{
	color: #fff;
}

a img
{
	border: 0px;
}

#wrapper
{
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	max-width: 65em;
	min-width: 500px;
}

#header
{
	margin: 9px 10px 4px 10px;
}

#header #menu
{
	float: right;
}

#box
{
	background-color: #fff;
	/*-moz-border-radius: 15px;*/
	border: 2px solid #000;
	color: #555;
	padding: 15px;
	overflow: hidden;
	font-size: .85em;
	background: #fff url("http://stevens.edu/honor/images/header.jpg") no-repeat 100% -10px;
	margin-bottom: 20px;
}

#box #box-header
{
/*	height: 92px;*/
	margin: 0px;
}

#box #box-header #box-menu
{
	float: none;
	background-color: #333;
	margin-left: -15px;
	margin-right: -15px;
	color: #fff;
	padding: 8px;
	margin-top: 8px;
	text-align: center;
	font-weight: bold;
}

#box #age
{
	background: #871d1f url("http://stevens.edu/honor/images/headertile.jpg") repeat-x top right;
	height: 91px;
	margin-left: -15px;
	margin-bottom: 15px;
	z-index: 10;
}

#box #sidebar
{
	float: left;
	margin-top: -91px;

	background-color: #fff;
	border: 1px solid #d5d5d5;
	padding: 12px;
	min-width: 100px;
	width: 30%;
	max-width: 200px;
	margin-right: 15px;
	margin-bottom: 15px;
	z-index: 100;
}

#box #sidebar #inner
{
	background: #eff0f4 url("http://stevens.edu/honor/images/sidebar.jpg") no-repeat bottom right;
	padding: 10px;
}

#box #lower
{
	margin-left: -15px;
	margin-right: -15px;
	padding: 15px;
	border-top: 10px solid #fff;
/*	width: 100%;*/
	background-color: #f2f2f2;
}

#box #lower #footer
{
	clear: both;
	background-color: #fff;
	border-top: 1px solid #000;
	padding: 15px 15px 0px 15px;
	margin-left: -15px;
	margin-right: -15px;
	margin-bottom: -15px;
	margin-top: 15px;
	
	text-align: right;
	color: #666;
	font-size: x-small;
}

.iehack
{
	clear: both;
}

#heading-text, h1
{
	font-size: 1.5em;
	font-weight: bold;
	color: #2B2C2E;
	font-family: "Trebuchet MS";
}

#heading-text
{
	margin-bottom: -3px;
	margin-top: 6px;
	color: #800000;
}

h1
{
	border-bottom: 1px solid #ccc;
	margin-bottom: 3px;
	padding-bottom: 1px;
}

h1 strong
{
	font-weight: bold;
	color: #78000E;
}

h2
{
	font-size: 1.1em;
	margin: 1px;
}

h3
{
	font-size: 0.9em;
	margin: 1px;
}

h1.clear, h2.clear, h3.clear, h4.clear, h5.clear, h6.clear
{
	clear: both;
}

a.teaser
{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #740003;
	text-decoration: none;
	text-align: right;
	display: block;
}

a.teaser:hover
{
	color: #2d2d2d;
	font-weight: bold;
	text-decoration: underline;
}

img.leftside
{
	float: left;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px 10px 10px 0px;
}

#menu ul, #box-menu ul
{
	display: inline;
}

#menu ul li, #box-menu ul li
{
	list-style-type: none;
	display: inline;
	border-left: 2px solid white;
	padding: 0px 3px 0px 5px;
}

#menu ul li:first-child, #box-menu ul li:first-child
{
	list-style-type: none;
	display: inline;
	border-left: 0px;
}

ul.block-list
{
	list-style-position: inside;
	text-indent: 0px;
}

ul.block-list li
{
	display: block;
	float: left;
	padding: 8px;
}

.required
{
	color: #800000;
	font-weight: bold;
}

.clear
{
	clear: both;
}

ul, ol, li
{
	text-indent: 0px;
	margin-left: 0px;
	padding: 0px;
	list-style-position: inside;
	list-style-type: none;	
}

ul
{
	margin-top: 2px;
}

div.chart-list
{
	float: left;
	margin-right: 45px;
}

#list a
{
	color:white;
}
