/*Bootstrap Glyphicons*/
@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');


/*content*/

h5{
    font-size: 5em;
    font-weight: bold;
    padding-top: 55px;
    font-family: 'Montserrat', snas-serif;
    text-align: center;
}

ul{
	font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}

.homeQuote{
  margin-left: 4%;
  border-left: 5px solid #A32638;
}

.headerContainer{
  overflow: auto;
  padding-top: 10px;
  padding-left: 40px;
  height: 245px;
}
.contentContainer{
	padding-left: 3%;
	padding-right: 3%;
}
h1{
    font-size: 2em;
    font-weight: bold;
	font-style: italic;
    font-family: 'Montserrat', sans-serif;
    padding-top: 2%;
    text-align: center;
}
h2{
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.faq-label{
	background-color: #9a989a;
}
.faq-label h2{
	font-size: 1.8em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.line-box h2{
    font-size: 2em;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.line-box a{
    font-size: 2em;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
h3{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h6{
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
h4{
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    margin-right: 35px;
}
a{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
}
.intA{
	text-decoration:none;
	font-size: 1em;
	color: black;
	cursor: text;
}
.intA:hover{
	text-decoration:none;
	font-sixe: 1em;
	color: black;
}
.intA:active{
	text-decoration:none;
	font-sixe: 1em;
	color: black;
}
.intA:visited{
	text-decoration:none;
	font-sixe: 1em;
	color: black;
}
th+th{
    padding-left: 20px;
}
.line-box{
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: -moz-linear-gradient(top, #A32638 0%, #8B0000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A32638), color-stop(100%, #8B0000));
	background: -webkit-linear-gradient(top, #A32638 0%, #8B0000 100%);
	background: -o-linear-gradient(top, #A32638 0%, #8B0000 100%);
	background: -ms-linear-gradient(top, #A32638 0%, #8B0000 100%);
	background: linear-gradient(to bottom, #A32638 0%, #8B0000 100%);
	margin: auto;
  	max-width: 1250px;
}

.link-box{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: white;
  margin: auto;
  padding: 10px;
    max-width: 1250px;
}

.link-box a{
  color: black;
}

.link-box a:hover{
  color: #A32638;
  font-weight: 600;
  text-decoration: none;
}

.link-box a:visted{
  color: black;
  text-decoration: none;
}

.link-box ul{
  list-style-type: none;
}

.people{
    text-align: left;
}
.smaller-line-box{
    background-color: #9a989a;
	margin-right: 35px;
}
.box-container{
    text-align: center;
}
.faq-container{
	margin: auto;
	padding-left: 3%;
	padding-right: 3%;
	text-align: left;
	max-width: 1000px;
	margin-bottom: 45px;
}
hr {
    color: #A32638;
    display: block;
    overflow: hidden;
    border-width: 1px;
}
.about-box{/*box*/
    background-color: #A32638;
    display: inline-block;
    margin: 3%;
    border-width: 2px;
    border-style: solid;
    width: 280px;
    height: 200px;
    padding-right: 15px;
}
.doc-box{
  background-color: white;
  display: inline-block;
  margin: 3%;
  width: 280px;
  height: 450px;
  vertical-align: middle;
  color: #A32638;
  position: relative;
}
.doc-box:hover{
  -moz-box-shadow: 0 0 30px #ccc;
  -webkit-box-shadow: 0 0 30px #ccc;
  box-shadow: 0 0 30px #ccc;
}

.doc-box p{
    margin: 15px;
}

.doc-box span{
  position: absolute;
  bottom: 0;
  right: 42%;
  padding-bottom: 20px;
  font-size: 1.2em;
}
.doc-icon{
  width: 125px;
  height: 150px;
}
.grid .about-box{
    width: 200px;
    height: 250px;
}
.grid .about-box h2{
    display: none;
}
.report-button {
	margin-top: 20px;
	display: block;
	background-color: #A32638;
	width: 207px;
	max-width: 207px;
	height: 75px;
	text-align: center;
	color: white;
	border: none;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	padding-top: 10px;
	font-size: 1.5em;
	position: absolute;
	top: 240px;
        left: 35px;
}
.report-button:hover{
	color: white;
}
.about-box{
    vertical-align: middle;
    transform: perspective(1px) translateZ(1);
    box-shadow: 0 0 1px #9a989a;
    transition-duration: 0.3s;
    transition-property: transform;
}
img{
    width: 196px;
    height: 246px;
}
.about-box h2{
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}
.about-box p, .about-box ul, .about-box a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 15px;
    display: none;
    font-size: 0.8em;
}

.grid .about-box:hover{
    transform: translateZ(0);
    transform: scale(1.65);
    overflow: auto;
}
.grid .about-box:hover img{
    display: none;
}
.grid .about-box:hover h2{
    text-align: center;
    display: block;
}
.grid .about-box:hover p, .about-box:hover ul{
    display: block;
    text-align: left;
}
.grid h2{
    display: none;
}
.about-box:hover{
    transform: translateZ(0);
    transform: scale(1.65);
    overflow: auto;
}
.about-box:hover h2{
    text-align: center;
}
.about-box:hover p, .about-box:hover ul, .about-box:hover a{
    display: block;
    text-align: left;
}
.home-box{
    width: 100%;
    background-color: whitesmoke;
    margin-bottom: 3%;
    padding-bottom: 5px;
}
body{
    background-color: whitesmoke;
}
.logo{
  text-align: center;
	display: inline;
  float:left;
  width: 207px;
  height: 225px;
}
.info-box{
    background-color: #9a989a;
    width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 250px;
}
.info-box p{
	padding-left: 20%;
	padding-right: 20%;
    font-size: 1.1em;
}
/*
.left-slide{
    width: 10%;
    height: 150px;
    display: block;
    background-color: #A32638;
    float: left;
    margin-left: 5%;
}
.right-slide{
    width: 10%;
    height: 150px;
    display: block;
    background-color: #A32638;
    float: left;
    margin-right: 5%;
}
*/
.info-box-2 p{
    font-size: 1.1em;
}
.info-box-2{
    background-color: #9a989a;
    width: 100%;
	height: 300px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.footerBar{
	background-color: #9a989a;
    width: 100%;
	height: 250px;
	padding-bottom: 15px;
	text-align: center;
}

.footerTitle{
	padding-top: 10px;
	font-size: 14pt;
}

.slideBox{
	height: 125px;
	width: 50%;
	margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

.slide{
	display: none;/*
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;*/
    text-align: center;
}
.info-box-3{
    background-color: whitesmoke;
    width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	min-height: 250px;
}
.sub-topic{
	margin: auto;
	padding-left: 3%;
	padding-right: 3%;
	text-align: left;
	max-width: 1200px;
	margin-bottom: 45px;
}
.social-link{
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
}
.social-logo{
	max-height: 100px;
	max-width: 100px;
}
.mini-social-logo{
	height: 20px;
	width: 20px;
	display: inline;
}
.social-container{
  text-align: center;
}
.ig-post{
	text-align: center;
	display: block;
	max-width: 600px;
  margin: auto;
}
.video-box{
    background-color: #A32638;
    width: 100%;
}
.play-video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 75%;
    height: auto;
}


/*Mobile Optimization*/

.menu-mobile-button{
    position: fixed;
    top: 35px;
    right: 35px;
    width: 40px;
    height: auto;
    z-index: 1;
    display: none;
}

@media screen and (max-width: 900px) {
    .menu-open-button{display: none;}
    #cssmenu{display: none;}
    .menu-mobile-button{display: inline;}
    .box{display: none;}
    .info-box{min-height: 500px;}foot
    .footerBar{display:none;}
    .about-box:hover{
         transform: scale(1.15);
     }
    .about-box a{display: block;}
    blockquote{display: none;}
    .pres{display: none;}
    .report-button{top: 20px;}
    .logo{display: none;}
    .headerContainer{
    padding-left: 0px;
	margin-left:0px;
	margin-right:0px;}
    h5{font-size: 3em;}
}


/*Drop Down Menu*/



#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background: -moz-linear-gradient(top, #A32638 0%, #8B0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A32638), color-stop(100%, #8B0000));
  background: -webkit-linear-gradient(top, #A32638 0%, #8B0000 100%);
  background: -o-linear-gradient(top, #A32638 0%, #8B0000 100%);
  background: -ms-linear-gradient(top, #A32638 0%, #8B0000 100%);
  background: linear-gradient(to bottom, #A32638 0%, #8B0000 100%);
  font-weight: 600;
  height: 60px;
  width: auto;
  margin-right: 40px;
  margin-left: 40px;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  background: -moz-linear-gradient(top, #A32638 0%, #8B0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A32638), color-stop(100%, #8B0000));
  background: -webkit-linear-gradient(top, #A32638 0%, #8B0000 100%);
  background: -o-linear-gradient(top, #A32638 0%, #8B0000 100%);
  background: -ms-linear-gradient(top, #A32638 0%, #8B0000 100%);
  background: linear-gradient(to bottom, #A32638 0%, #8B0000 100%);
  color: white;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 60px;
  padding: 0 28px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
  box-shadow: inset 0 1px 0 whitesmoke;
  -moz-box-shadow: inset 0 1px 0 whitesmoke;
  -webkit-box-shadow: inset 0 1px 0 whitesmoke;
}
#cssmenu > ul {
  float: left;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu > ul > li:first-child a {
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
}
#cssmenu > ul > li.active a,
#cssmenu > ul > li:hover > a {
  box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15);
  color: #666666;
  background: #EEEEEE;
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu .has-sub ul li a {
  background: #EEEEEE;
  border-bottom: 1px solid #59636f;
  border-bottom: 1px solid #556371;
  box-shadow: inset 0 1px 0 #606f7f;
  -moz-box-shadow: inset 0 1px 0 #606f7f;
  -webkit-box-shadow: inset 0 1px 0 #606f7f;
  color: #666666;
  display: block;
  line-height: 160%;
  padding: 15px 10px;
  font-size: 12px;
}
#cssmenu .has-sub ul li:hover a {
  background: #A32638;
  color: white;
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
}
